@model AddBranchViewModel


<div class="input-group col-lg-12 mb-2">
    <input type="text" id="add" class="form-control" style="color:white" asp-for="@Model.Title" placeholder="Write Branch Name" />
    <div class="input-group-append">
        <button class="btn btn-primary">Add New Branch</button>
    </div>
</div>